
/**
 ***********************************************************************
 * CALENDAR CSS RULES
 * 
 * The following CSS rules govern the layout of the calendar displays.
 * Note that most of the height, width and position attributes are set
 * in-line by the calendar and should/can not be specified here.
 * 
 * Note also that these rules apply in the order they are specified.
 * When several rules apply to an element, the latest-specified rule
 * wins if there is a conflict.
 ***********************************************************************
*/

/** 
 * GENERAL RULES
 */
div#calendarTable { width: 100%; text-align: center; }
div#calendarTable table td { text-align: left; padding: 1px }
div#calendarTable table th { text-align: center; padding: 1px }
#calendarTable table { margin-left: auto; margin-right: auto; } 
#calendarTable div { margin: 0px }
.eventText { line-height: 1.0; margin: 2px 2px 0px 2px; margin-left: auto; margin-right: auto; text-align: center; padding: 0px}
.calendarNavLink, a.calendarNavLink:hover, a.calendarNavLink:visited { text-decoration: none; font-weight: bold; color: blue }
div#calendarList { text-align: left; width: 80ex; margin-left: auto; margin-right: auto}

/**
 * YEAR TABLE RULES
 * Cells in this table can be header cells or data cells.  
 * Data cells can be completely empty, or contain a date, 
 * or contain a date and event(s). Several of the following
 * rules could apply to a given cell.
 */
table#year { border: 2px solid #EDEDED; background-color: white; border-collapse: collapse; font-family: sans-serif  }

/* Header cells */
#year th  { border: 1px solid #f2f2f2; font-family: sans-serif}
#year th.monthLabel { background-color: #017ca5; color: white; font-weight: bold; }
#year th.monthLabel a, #year td.monthLabel a:visited, #year td.monthLabel a:hover { color: white; font-weight: bold; text-decoration: none; }
#year th.dayLabel { background-color: #41afe0; color: white}
#year th.dayLabelWeekend { background-color: #41afe0; }

/* All data cells, including completely empty ones */
#year td { text-align: center; border-top: 1px solid #EDEDED; font-family: sans-serif}

/* Cells with dates */
#year td.date { background-color: white; border: 1px solid #EDEDED; text-align: center; color: black}

/* Weekend Cells, with or without dates */
#year td.weekend { background-color: #f6f6f6;  }

/* Cells with events */
#year td.eventDate { background-color: #d0ecf6; }
#year td.eventDate a, #year td.eventDate a:visited, #year td.eventDate a:hover { color: #3598b9; font-weight: bold; text-decoration: none; } 



/**
 * MONTH TABLE RULES
 * Cells in this table can be header cells or data cells.  
 * Data cells can be completely empty, or contain a date, 
 * or contain a date and event(s). Several of the following
 * rules could apply to a given cell.
 */

table#month { border: 2px solid purple; background-color: #eeeeee; border-collapse: collapse  }
#month th  { border: 1px solid black; }

/* Header Cells */
#month th.dayLabel { background-color: #bbbbff; }
#month th.dayLabelWeekend { background-color: #8888aa; }

/* All data cells, including completely empty ones */
#month td { padding-left: 2px; text-align: left; vertical-align: top; border: 1px solid black; }

/* Cells with dates */
#month td.date { background-color: white; }

/* Weekend Cells, with or without dates */
#month td.weekend { background-color: #aaaaaa }

/* Cells with events */
#month td.eventDate { background-color: red; }

/* Linked dates at top left of cells */
#month td.eventDate a.dateLink, #month td.eventDate a.dateLink:visited, #month td.eventDate a.dateLink:hover { color: white; font-weight: bold; text-decoration: none; } 

/* Linked event names in cells (root-node-specific classes will also apply) */
#month .event, #month a.event:visited, #month a.event:hover { display: block; font-size: 85%; font-weight: bold; text-decoration: none; }



/**
 * WEEK TABLE RULES
 * Cells in this table can be header cells or data cells.  
 * Data cells can contain DIVs that represent events
 */

table#week { border: 2px solid purple; background-color: #eeeeee; border-collapse: collapse }
#week td, #week th  { border: 1px solid black; }
#week td, #week th.timeLabel { vertical-align: top; }

/* header cells */
#week th { background-color: #dddddd; text-align: center }
#week th.columnLabel { vertical-align: middle; font-weight: bold; color: red }
#week th.columnLabel a, #week th.columnLabel a:visited, #week th.columnLabel a:hover { text-decoration: none; font-weight: bold; color: red }

/* Event DIVs (root-node-specific classes will also apply) */
#week td div { border: 1px solid black; }

/* Event Links (root-node-specific classes will also apply) */
#week .event, #week a.event:visited, #week a.event:hover { text-decoration: none } 



/**
 * DAY TABLE RULES
 * Cells in this table can be header cells or data cells.  
 * Data cells can contain DIVs that represent events
**/

table#day { border: 2px solid purple; background-color: #eeeeee; border-collapse: collapse  }
#day td, #day th  { border: 1px solid black; }
#day td, #day th.timeLabel { vertical-align: top; }

/* header cells */
#day th { background-color: #dddddd }
#day th.columnLabel { vertical-align: middle; }
#day th.columnLabel a, #day th.columnLabel a:visited, #day th.columnLabel a:hover { text-decoration: none; font-weight: bold }

/* Event DIVs (root-node-specific classes will also apply) */
#day td div { border: 1px solid black; }

/* Event Links (root-node-specific classes will also apply) */
#day .event, #day a.event:visited, #day a.event:hover { text-decoration: none } 



/**
 * PRESET ROOT NODE RULES
 * These rules will be applied to all A and DIV elements that represent
 * events drawn from the relevant root nodes
 */
.aqua { background-color: aqua; color: black; }
.black { background-color: black; color: white; }
.blue { background-color: blue; color: white; }
.fuchsia { background-color: fuchsia; color: black; }
.gray { background-color: gray; color: white; }
.green { background-color: green; color: white; }
.lime { background-color: lime; color: black; }
.maroon { background-color: maroon; color: white; }
.navy { background-color: navy; color: white; }
.olive { background-color: olive; color: white; }
.purple { background-color: purple; color: white; }
.red { background-color: red; color: white; }
.silver { background-color: silver; color: black; }
.teal { background-color: teal; color: white; }
.white { background-color: white; color: black; }
.yellow { background-color: yellow; color: black; }

/**
 * USER-DEFINED ROOT NODE RULES
 * These rules will be applied to all A and DIV elements that represent
 * events drawn from the relevant root nodes
 * If you want these to be view-specific you can define them for each of the
 * #year, #month, #week, #day IDs
 */


