.sq-workflow-step {margin: 2px; border: 1px solid #ccc; background-color: #eee; clear: left}


.sq-workflow-step-drag {float: left; min-width: 7%; font-weight: bold; white-space: nowrap; border-right: 1px solid #ccc; padding: 5px; margin-right: 5px; background-color: white;}
.sq-workflow-step-drag-handle {pointer: cursor}
.sq-workflow-step-escalation-indent {margin-left: 2em}
.sq-workflow-step-escalation-indent .sq-workflow-step-drag, .sq-workflow-step-escalation-indent .sq-workflow-step-tag-line {color: red}
.sq-workflow-step-tag-line {float: left; width: 30%; padding: 5px 0; font-weight: bold}
.sq-workflow-step-condition {float: left; width: 30%; padding: 5px 0}
.sq-workflow-step-expiry {float: left; width: 25%; padding: 5px 0}
.sq-workflow-step-edit-link {text-align: right; padding: 5px 5px}
.sq-workflow-step-divider {height: 5px; margin: 0 2px; visibility: hidden; font-size: 5px}
