.htmlarea {
	background: #ffffff;
}

.htmlarea-toolbar {
	background:		#F0F0F0;
	padding:		0px;
	border:			1px solid;
	border-color:	#D5D5D5 #A0A0A0 #A0A0A0 #D5D5D5;
	text-align:		left;
}

.htmlarea-toolbar.img {
	border:			none;
}



/* Toolbar Buttons */

.htmlarea-button {
	background:		#F0F0F0;
	color:			#F0F0F0;
	border:			1px solid;
	padding:		1px;
	margin:			0px;
	width:			20px;
	height:			22px;
	border-color:	#F0F0F0 #F0F0F0 #F0F0F0 #F0F0F0;
}

.htmlarea-buttonHover {
	border:			1px solid;
	border-color:	#D5D5D5 #A0A0A0 #A0A0A0 #D5D5D5;
}

.htmlarea-buttonActive, .htmlarea-buttonPressed {
	border:			1px solid;
	border-color:	#A0A0A0 #D5D5D5 #D5D5D5 #A0A0A0;
}

.htmlarea-buttonPressed {
	background:		#D5D5D5;
}

.htmlarea-buttonDisabled {
}



/* Toolbar Select Boxes */

htmlarea-select {
	font:			11px Tahoma, Verdana ,sans-serif;
}

htmlarea-select, htmlarea-select:hover, htmlarea-select:active {
	background:		FieldFace;
	color:			#000000;
}



/* Text Indicator */

.htmlarea-indicator {
	padding:		0px 3px;
	overflow:		hidden;
	width:			20px;
	text-align:		center;
	cursor:			default;
	border:			1px solid #A0A0A0;
}



/* Other Toolbar Elements */

.htmlarea-separator {
	position:		relative;
	margin:			3px;
	border-left:	1px solid #A0A0A0;
	border-right:	1px solid #D5D5D5;
	width:			0px;
	height:			16px;
	padding:		0px;
}

.htmlarea-space {
	width:			5px;
}