<?php
$db_conf = array (
        'db' => array (
                'DSN'      => '',
                'user'     => '',
                'password' => '',
                'type'     => '',
               ),
        'db2' => array (
                'DSN'      => '',
                'user'     => '',
                'password' => '',
                'type'     => '',
               ),
        'db3' => array (
                'DSN'      => '',
                'user'     => '',
                'password' => '',
                'type'     => '',
               ),
        'dbcache' => NULL,
        'dbsearch' => NULL,
        );

return $db_conf;
?>
