<?php
/**
 *
 * See http://www.php.net/manual/en/function.memcache-addserver.php for explanation.
 */
$memcache_conf = Array (
	'hosts' => Array(
		'mc1' => Array (
			'host' => '',
			'port' => 11211,

			// If unsure, leave these alone.
			'persistent' => TRUE,
			'weight' => 1,
			'timeout' => 1,
			'retry_interval' => 15,
			'status' => TRUE,
		),
	),

	// If unsure, leave these alone.
	'compression_threshold' => 20000, // Size before automatically compressing with zlib
	'compression_min_saving' => 0.2, // Minimum saving before storing compressed

	// List of Matrix services utilising the above servers.
	// Indexed by key => weight.
	'services'	=> Array(
					'cache_manager'		=> Array('mc1' => 1),
					'session_handling'	=> Array(),
					'locking'			=> Array(),
					'deja_vu'			=> Array(),
				   ),
);

return $memcache_conf;
?>
