<?php
// Hosts are tried in order, first successful connection wins!
$redis = Array(
       'hosts' =>Array (
               'redis1' => Array(
                       'socket' => false, // could be a '/path/to/file.sock'
                       'host'   => '',
                       'port'  => 6379,
                       'prefix' => '', // auto-prefix all keys with this value.
                       'connection_timeout' => 2,
                       'persistent_id' => '',
                       'retry_interval' => 5, // only applies to regular connections, not valid for persistent ones.
                       'persistent' => false, // persistent connections?
                       'read_timeout' => 0,
               ),
               'redis2' => Array(
                       'socket' => false,
                       'host'   => '',
                       'port'  => 6380
               )
       ),

       // List of Matrix services utilising the above servers.
       // Indexed by key => weight.
       'services'  => Array(
               'cache_manager'     => Array('redis1' => 1, 'redis2' => 1), 
               'session_handling'  => Array('redis1' => 1, 'redis2' => 1),
               'locking'           => Array('redis1' => 1, 'redis2' => 1), 
               'deja_vu'           => Array('redis1' => 1, 'redis2' => 1), 
       ),
);


return $redis;
?>
