<?php
// Hosts are tried in order, first successful connection wins!
$redis = Array(
       'hosts' =>Array (
               'redis1' => Array(
                       'socket' => false,
                       'host'   => '',
                       'port'  => 6379
               ),
               'redis2' => Array(
                       'socket' => false,
                       'host'   => '',
                       'port'  => 6380
               )
       ),

       // List of Matrix services utilising the above servers.
       // Indexed by key => weight.
       'services'  => Array(
               'cache_manager'     => Array('redis1' => 1, 'redis2' => 1), 
               'session_handling'  => Array('redis1' => 1, 'redis2' => 1),
               'locking'           => Array('redis1' => 1, 'redis2' => 1), 
               'deja_vu'           => Array('redis1' => 1, 'redis2' => 1), 
       ),
);


return $redis;
?>
